* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(14, 102, 85);
    color: white;
    font-family: 'Space Grotesk', sans-serif;
  }

  input {
    font-family: 'Space Grotesk', sans-serif;
  }

  .langBox {
    display: flex;
    justify-content: center;
  }

  .button {
    padding: 2px;
    margin: 5px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    font-family: 'Space Grotesk', sans-serif;
  }

  #englishButton {
    background-color: cornflowerblue;
  }

  #dutchButton {
    background-color: orange;
  }

  .formBox {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    height: fit-content;
    row-gap: 20px;
  }

  .man {
    background-color: rgb(162, 217, 206);
  }

  .woman {
    background-color: rgb(215, 189, 226);
  }

  .failedRegex {
    border-color: red;
    border-style: solid;
  }

  #alertWindow {
    background-color: white;
    color: black;
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    border-style: solid;
    border-color: red;
    box-shadow: 10px 10px 8px black;
  }

  #alertButton {
    border-color: red;
  }

  #alertButton:hover {
    border-color: green;
  }

  .hidden {
    display: none;
  }